<a href="https://colab.research.google.com/github/AliciaTenenbaum/lab-intro-pandas/blob/master/main_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [125]:
# your code here
import pandas as pd
import numpy as np
import datetime



import warnings
warnings.filterwarnings('ignore')

#### 2. Create a Pandas Series containing the elements of the list below.

In [4]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [23]:
# your code here
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]
lista= pd.Series(lst);
lista

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [46]:
lista
lista.loc[2]
#el valor 3º es 74,4

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [51]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]
type(b)

list

In [55]:
#cada sublista es una fila

nuevo= pd.DataFrame(b)
nuevo

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

#### 5. Rename the data frame columns based on the names in the list below.

In [84]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [121]:
nuevo.columns = colnames
display(nuevo)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [122]:
#crear subconjunto que contenga solo las columnas Puntuación 1, 3 y 5

nuevo
definitivas=["Score_1","Score_3","Score_5"]

nuevo_df=nuevo[definitivas]
nuevo_df.head()

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9

#### 7. From the original data frame, calculate the average Score_3 value.

In [127]:
# a partir del marco de datos original, calcule el valor promedio de Score_3

nuevo_df["Score_3"].mean()

56.95000000000001

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [128]:
# your code here
nuevo_df["Score_3"].max()

96.1

#### 9. From the original data frame, calculate the median Score 2 value.

In [135]:
# your code here
nuevo.columns = colnames
nuevo["Score_2"].median()

40.75

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [138]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [157]:
# Crear una dataframe a partir de un diccionario:


nuevo2 = pd.DataFrame(orders, index = [[1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],[1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]])
nuevo2

                                    Description  Quantity  UnitPrice  Revenue
1    1.65                LUNCH BAG APPLE DESIGN         1       1.65     1.65
24   13.20   SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
1    1.65           RIBBON REEL STRIPES DESIGN          1       1.65     1.65
2880 518.40   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
2    2.50      PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
7    5.95                        POPCORN HOLDER         7       0.85     5.95
1    11.95       BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
4    19.80                        PARTY BUNTING         4       4.95    19.80
10   1.90              JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
48   60.00        SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [160]:
# Calcule la cantidad total ordenada y los ingresos generados a partir de estos pedidos.
# ordenamos de menor a mayor por la columna de unitprice


print(nuevo2["Quantity"].sum())
print(nuevo2["Revenue"].sum())

2978
637.0

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [161]:
# Obtenga los precios de los artículos pedidos más caros y menos caros e imprima la diferencia

print(nuevo2["UnitPrice"].max()-nuevo2["UnitPrice"].min())

11.77